{% extends 'shiozaki/base.html' %}

{% load static %}

<!-- タイトル -->
{% block title %}掲示板削除{% endblock %}

<!-- コンテンツ -->
{% block contents %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <form method="POST">
                    {% csrf_token %}
                    <p>本当に削除しますか？</p>
                    <button class="btn btn-primary mt-5" type="submit">削除</button>
                    <a class="btn btn-secondary mt-5 ml-2" href="{% url 'shiozaki:board-detail' object.pk %}">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}