{% extends 'shiozaki/base.html' %}

{% load static %}

<!-- タイトル -->
{% block title %}掲示板詳細{% endblock %}

<!-- コンテンツ -->
{% block contents %}
<section class="page-section portfolio" id="portfolio">
    <!-- 掲示板 -->
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <a href="{% url 'board-update' object.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
                <a href="{% url 'board-delete' object.pk %}" class="btn btn-danger mt-5 mb-3">削除</a>

                <div class="board-box">
                    <table>
                        <tr>
                            <td>
                                <h1>タイトル</h1>
                            </td>
                            <td>
                                <h6>作成日時：20XX/MM/DD  更新日時：20XX/MM/DD</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <hr>
                <strong>???件のコメント</strong>
                
                <div class="comment-box">
                    <table>
                        <tr>
                            <td>
                                <strong>ユーザー名</strong>
                            </td>
                            <td>
                                20XX/MM/DD HH:MM:SS
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ほげぴよほげぴよ
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="comment-box">
                    <table>
                        <tr>
                            <td>
                                <strong>ユーザー名</strong>
                            </td>
                            <td>
                                20XX/MM/DD HH:MM:SS
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ほげぴよほげぴよ
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- コメント -->
</section>
{% endblock %}