{% extends 'shiozaki/base.html' %}

{% load static %}

<!-- タイトル -->
{% block title %}掲示板詳細{% endblock %}

<!-- コンテンツ -->
{% block contents %}
<section class="page-section portfolio" id="portfolio">
    <!-- 掲示板 -->
    <div class="container">
        <div class="row">
            <div class="my-div-style">

                {% if object.user == user %}
                <a href="{% url 'shiozaki:board-update' object.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
                <a href="{% url 'shiozaki:board-delete' object.pk %}" class="btn btn-danger mt-5 mb-3">削除</a>
                {% endif %}

                <div class="board-box">
                    <table>
                        <tr>
                            <td>
                                <h1>{{ object.title }}</h1>
                            </td>
                            <td>
                                <h6>作成日時：{{ object.created_at|date }}  更新日時：{{ object.updated_at|date }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>{{ object.content|linebreaksbr }}</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <hr>
                <a href="{% url 'shiozaki:comment-create' object.pk %}" class="btn btn-primary mt-5 mb-3">コメントを送信する</a>
                <div class="comment-box">
                    <table>
                        <tr>
                            <td>
                                <strong>ユーザー名</strong>
                            </td>
                            <td>
                                20XX/MM/DD HH:MM:SS
                            </td>
                            <td>
                                
                                <a href="{% url 'shiozaki:comment-update' object.pk object.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
                                <a href="{% url 'shiozaki:comment-delete' object.pk object.pk %}" class="btn btn-danger mt-5 mb-3">削除</a>
                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ほげぴよほげぴよ
                            </td>
                        </tr>
                    </table>
                </div>
                <p>コメントはありません。</p>
            </div>
        </div>
    </div>

    <!-- コメント -->
</section>
{% endblock %}