{% extends 'shiozaki/base.html' %}

{% load static %}

<!-- タイトル -->
{% block title %}掲示板編集{% endblock %}

<!-- コンテンツ -->
{% block contents %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="my-div-style">
                <form method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit">更新</button>
                    <a class="btn btn-secondary ml-2" href="{% url 'shiozaki:board-detail' object.pk %}">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}