{% extends 'shiozaki/base.html' %}

{% load static %}

<!-- タイトル -->
{% block title %}Web上で作成/編集/削除ができる掲示板{% endblock %}

<!-- ヘッダー -->
{% block header %}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="{% static 'shiozaki/assets/img/avataaars.svg' %}" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Bulletin Board</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Web上で作成/編集/削除ができる掲示板</p>
    </div>
</header>
{% endblock %}

<!-- コンテンツ -->
{% block contents %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- ピックアップのヘッダー -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Pick Ups</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- 上位３つをピックアップ -->
        {% for thread in thread_list|slice:":3" %}
        <div class="post-preview">
            <a href="{% url 'shiozaki:board-detail' thread.pk %}">
                <table>
                    <tr>
                        <td><h1>{{ thread.title }}</h1></td>
                        <td><h6>by {{ thread.user }}</h6></td>
                    </tr>
                    <tr>
                        <td><h5>{{ thread.created_at|date }}</h5></td>
                    </tr>
                </table>
            </a>
        </div>
        {% empty %}
        <p>ピックアップはありません。</p>
        {% endfor %}
    </div>
</section>
{% endblock %}