{% extends 'nice_board/threads/list.html' %}
{% block title %}スレッド管理{% endblock %}
{% block head %}
<style>
        .accordion-button::after {
                content: none !important;
        }
</style>
{% endblock %}
{% block custom %}

{% if user.id == thread.user.id %}

<div class="ms-auto">
        <a class="text-decoration-none btn btn-outline-primary" href="{% url 'nice_board:thread_update' thread.id %}"
                data-modal="">編集
        </a>
        <a class="text-decoration-none btn btn-outline-danger" href="{% url 'nice_board:thread_delete' thread.id %}"
                data-modal="">削除
        </a>
</div>

{% endif %}
{% endblock %}
{% block script %}
<script>
        $(function () {
                const URL_MANAGE = "{% url 'nice_board:thread_manage' %}"
                const myModal = new bootstrap.Modal(document.getElementById('staticBackdrop'), {
                        keyboard: false
                })
                const list = new PageScript("#contents", "#contents", URL_MANAGE);
                const modal = new PageScript("#modalBody", "#contents", "");
                $("a[data-modal]").click(function modalAction() {
                        event.stopPropagation();
                        modal.sendUrl = $(this).attr('href');
                        PageScript.ajaxGet(modal.sendUrl)
                                .then(data => {
                                        myModal.toggle();
                                        const _this = this;
                                        const siteHtml = $(data).find("#contents");
                                        siteHtml.find("form").submit(function () {
                                                const postData = {}
                                                $(this).find("input").each(function () {
                                                        postData[$(this).attr("name")] = $(this).val()
                                                })
                                                $(this).find("textarea").each(function () {
                                                        postData[$(this).attr("name")] = $(this).val()
                                                })
                                                PageScript.ajaxPost(modal.sendUrl, postData)
                                                        .then(data => {
                                                                PageScript.ajaxGet(URL_MANAGE)
                                                                        .then(data => {
                                                                                list.doneListView(data)
                                                                                myModal.toggle();
                                                                                $("a[data-modal]").click(modalAction);
                                                                        })
                                                        },
                                                                resp => { })
                                                return false
                                        });
                                        $(modal.outputEl).empty();
                                        $(modal.outputEl).append(siteHtml.children());
                                }, resp => {
                                        console.log("huga")
                                })
                        return false
                })
        })
</script>
{% endblock %}