.masthead {
    padding-top: 2rem;
    padding-bottom: 4rem;
    min-height: 85vh;
}
.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}
.masthead .masthead-subheading {
    font-size: 1.25rem;
}
.masthead .masthead-avatar {
    width: 15rem;
}
.portfolio{
    min-height: 85vh;
  }
/* wrapper */
#wrapper{
    min-width: 575px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
#contents{
    flex: 1;
}
/* wrapper end */
/* comment list */
.comment__text{
    overflow: hidden;
}
/* comment list end */

/* form */
#form table tr {
    display: flex;
}

#form table th {
    width: 30%;
}

#form table th label {
    width: 100%;
}

#form table td {
    width: 70%;
}

#id_title {
    width: 75%;
}

#id_desc {
    width: 100%;
}

#id_text {
    width: 100%;
}
#id_text{
    width: 100%;
    height: 7em;
}
/* form end */