{% extends 'board/base.html' %}

{% load static %}

{% block title %}Board{% endblock %}

{% block contents %}


<div class="mt-120">
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'board:coment_create' board.id %}">コメント新規作成</a>
    {% endif %}
    <br>
    
    <strong>スレッド</strong>
    
    <h1>{{ board.title }}</h1>
    <br>
    <strong>コメント</strong>
    {% for coment in coment_list %}
    
    <h2>
        {{ coment.coment }}
    </h2>
    <h3>
        {{ coment.user}}
    </h3>
    
    <p>{{ coment.created_at }}</p>
    {% if user == board.user %}
    <a class="btn btn-success mt-5 mb-3" href="{% url 'board:coment_update' coment.pk %}">編集</a>
    <a class="btn btn-success mt-5 mb-3" href="{% url 'board:coment_delete' coment.pk %}">削除</a>
    {% endif %}
    {% empty %}
    <p>メッセージがありません</p>
    {% endfor %}
</div>

{% endblock %}

