{% extends 'nice_board/_base.html' %}

{% load static %}

{% block title %}{% if thread %}{{ thread.title }}{% endif %}{% endblock %}

{% block head %}
<style>
    .comment__number::after,
    .comment__user::after {
        content: ":";
    }
</style>
{% endblock %}

{% block contents %}
<div class="container mt-4">

    {% if thread %}
    <div class="row">
        <h2 class="col-6">{{ thread.title }}</h2>
        <div class="col-6">
            <ul class="row">
                <li class="col-12">作成者<span>{{ thread.user }}</span></li>
                <li class="col-12">作成日時<span>{{ thread.created_at }}</span></li>
                <li class="col-12">最終更新日時<span>{{ thread.created_at }}</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        {% if thread.desc %}
        <p>{{ thread.desc }}</p>
        {% else %}
        <p>説明文はありません</p>
        {% endif %}
    </div>
    {% else %}
    <div class="row">
        <h2>スレッド情報がありません</h2>
    </div>
    {% endif %}
</div>
<div id="contents" class="container mt-4">
    {% for comment in comments %}
    {% if forloop.first %}
    <dl class="list-group">
        {% endif %}
        <div class="list-group-item list-group-item-wite">
            <div class="d-flex">
                <dt class="comment__number h5">{{ forloop.counter }}</dt>
                {% if comment.user %}
                {% if not comment.user.is_anonymous %}
                <dd class="comment__user ms-3 h5">{{ comment.user }}</dd>
                {% else %}
                <dd class="comment__user ms-3 h5">名無し</dd>
                {% endif %}
                {% else %}
                <dd class="comment__user ms-3 h5">削除されました</dd>
                {% endif%}
                <dd class="ms-3 h5">{{ comment.created_at }}</dd>
                {% if not user.is_anonymous %}
                <div>
                    {% if comment.user.id == user.id %}
                    <a class="ms-auto btn btn-outline-danger btn-sm"
                        href="{% url 'nice_board:comment_update' thread.id comment.id %}">削除</a>
                    {% endif %}
                    {% if thread.user.id == user.id %}
                    <a class="ms-auto btn btn-outline-danger btn-sm"
                        href="{% url 'nice_board:comment_update' thread.id comment.id %}">
                        {% if comment.ban %}表示する{% else %}非表示にする{% endif %}
                    </a>
                    {% endif %}

                </div>
                {% endif %}


            </div>
            {% if not comment.user %}
            <dd class="comment__text">投稿は削除されました</dd>
            {% elif comment.ban %}
            <dd class="comment__text">管理者が非表示にしました</dd>
            {% else %}
            <dd class="comment__text">{{ comment.text | linebreaks }}</dd>
            {% endif %}
        </div>
        {% if forloop.last %}
    </dl>
    {% endif %}
    {% empty %}
    <div class="row">
        <p>投稿はまだありません</p>
    </div>
    {% endfor %}
</div>
<div id="commentCreateForm" class="container mt-4 mb-4">

</div>
{% endblock %}
{% block script %}
<script>
    const URL_COMMENTS = "{% url 'nice_board:comments' thread.id %}";
    const URL_CREATE_COMMENT_TOOL = "{% url 'nice_board:comment_create_tool' thread.id %}";
    $(function () {
        console.log("acttive")
        const list = new PageScript("#contents", "#contents", URL_COMMENTS);
        const form = new PageScript("#commentCreateForm", "#contents", URL_CREATE_COMMENT_TOOL);
        PageScript.ajaxGet(URL_CREATE_COMMENT_TOOL)
            .then(data => form.doneCreateView(data, list))
    });
</script>
{% endblock %}