.contents {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sample {
    margin-top:6rem;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}



.footer{


    bottom: 0; /*下に固定*/
}
.mt-120{
    margin-top: 120px;
}
