{% extends 'base.html' %}

{% block title %}スレッド作成{% endblock  %}

{% block header %}
<div class="container d-flex align-items-center flex-column box3">
    <div class="row">
        <div class="sample mt-12">
            <form method="post" enctype="multipart/form-data">
              <div class="form-group">
                {% csrf_token %}
                <table for="exampleInputEmail1">{{ form.as_table }}</table>
                <button type="submit" class="btn btn-primary">作成</button>
              </div>  
            </form>
        </div>
    </div>
</div>
{% endblock  %}