{% extends 'base.html' %}

{% load static %}

{% block title %}{% if thread %}{{ thread.title }}{% endif %}{% endblock %}

{% block head %}
<style>
    .comment__number::after,
    .comment__user::after {
        content: ":";
    }
</style>
{% endblock %}

{% block header %}
<div class="container mt-100 text-center">
   <div class="ui segment">
      <div class="content">
          <div class="header"><h3>{{thread.title}}</h3></div>
          <p>{{thread.user}} - {{thread.created_at}}</p>
          <div class="ui segment">
              <p><pre>{{thread.message}}</pre></p>
          </div>
      </div>
    </div>
    {% for comment in object_list %}
    <div class="">
        <article class="w-800 mr-auto ml-auto">
          <div class="info">
            <h2>{{ comment.user }}</h2>
            <time>{{ comment.created_at }}</time>
          </div>
          <p>{{ comment.comment }}</p>
        </article>
        {% empty %}
        <h2>コメントはまだありません</h2>
    {% endfor %}
    </div>
    <hr class="w-800 mr-auto ml-auto">
    <div class="mr-auto ml-auto">
       <a class="btn btn-primary w-20 " href="{% url 'ichan:comment_create' thread.pk %}">コメント作成</a>
    </div>
    <hr class="w-800 mr-auto ml-auto">
</div> 

{% endblock %}
