@charset "UTF-8";

.my-div-style {
    margin-top: 6em;
}
/* 
.messages {
    margin-top: 4em;
} */

/* .board-box {
    ;
} */

a {
    text-decoration: none;
}

.board-box {
    margin-top: 10px;
    border: solid 8px #1abc9c;
    border-radius: 15px;
    padding: 8px 24px;
}

.comment-box {
    margin-top: 10px;
    border: solid 5px #9fffea;
    border-radius: 10px;
    padding: 7px 20px;
}

.post-preview {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 5px #1abc9c;
    border-radius: 10px;
    padding: 7px 20px;
}